.container{
    display: flex;
}

.carousel {
    flex: 1;
    width: 100%;
}

.wrapper {
    height: 130vh;
    position: relative;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.details {
    flex: 1;
    position: relative;
    margin: 3rem;
}